<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}

        {% block content %}
            <h1>Saytimiz haqida ma'lumot</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus accusantium alias, aliquam amet asperiores cumque
                dignissimos doloribus ducimus eum ex explicabo facere illum itaque laudantium libero maiores modi
                optio perspiciatis placeat recusandae rem reprehenderit saepe sapiente sit sunt
                temporibus ut?</p>

        {% endblock content %}

</body>
</html>