<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
  {% extends 'base.html' %}

    {% block content %}
      <h2>Raqamingizni qoldiring!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Assumenda autem beatae corporis delectus eaque in nostrum
      obcaecati odio quasi sunt! Amet eaque nesciunt pariatur
      praesentium quaerat reprehenderit sed tempore voluptates?</p>
    {% endblock content %}
</body>
</html>