<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h2>Bosh sahifa</h2>
    <p>Xush kelibsiz!!!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad atque commodi consectetur dolor,
        dolorem ea enim est ex exercitationem fuga,
        harum hic ipsa iste itaque, numquam pariatur possimus saepe sequi?</p>
    {% endblock content %}
</body>
</html>